/* Reset browser styles
------------------------------------------ */
* {margin: 0; padding: 0}
html {min-height: 100%;}
body {background: #fff; color: #444; font: 0.75em/1.5 "Arial", "Helvetica", sans-serif; }
[class] {list-style: none; padding: 0}
h1, h2, h3, h4, h5, h6 {font-size: 1em}
dt {font-weight: 700}
table {border-collapse: collapse}
img {border: none; vertical-align: middle}
a {color: #6c97d0; text-decoration: none; outline: none; cursor: pointer}
a:hover {color: #85c300; text-decoration: underline}
textarea, input, select, option, optgroup, button {font: 1em "Arial", "Helvetica", sans-serif}
button, [type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="reset"], label[for], select {cursor: pointer}
input, select, textarea {outline: none}
fieldset {overflow: hidden; border: none;}
legend {display: none;}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {padding: 0; border: none}

body{
	background: #260930;
	font-size: 12px;
	font-family: arial;
	color: #fff;
}

h1{
	font-size: 26px;
	padding: 0 0 0px 10px;
	margin: 0 0 12px;
}

#quotesWrapper{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}

.quote{
	float: left;
	width: 280px;
	padding: 20px 20px;
	color: #fff;
	margin: 5px 5px;
    background: -moz-linear-gradient(left center , #479EA8 1%, #53B6BC 98%) repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#479EA8', endColorstr='#53B6BC'); /* for IE */
	background: -webkit-gradient(linear, left top, center bottom, from(#479EA8), to(#53B6BC)); /* for webkit browsers */
    border: 1px solid #59B0B6; 
	text-align: right;
	position: relative;
	min-height: 108px;
	height: auto !important;
	height: 108px;
}

.quote *{
	padding-left: 120px;
}

.quote .name{
	font-size: 16px;
	padding-bottom: 5px;
	min-height: 46px;
	height: auto !important;
	height: 46px;
	line-height: 1.2em;
}

.quote .changePercentage{
	font-size: 22px;
	font-style: italic;
	text-align: center;
	width: 100px;
	height: 100px;
	margin: 10px auto;
	background: #f4f4f4;
	border-radius: 50px;
	padding: 0px;
	position: absolute;
	top: 10px;
	left: 20px;
}
	.quote .changePercentage span{
		position: relative;
		top: 35px;
		padding: 0;
		color: black;
	}
	.quote.up{
	    background: -moz-linear-gradient(left center , #7CA024 3%, #9AB92F 98%) repeat scroll 0 0 transparent;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7CA024', endColorstr='#9AB92F'); /* for IE */
		background: -webkit-gradient(linear, left top, center bottom, from(#7CA024), to(#9AB92F)); /* for webkit browsers */	    
	    border: 1px solid #AAB662;
	}
	.quote.up .changePercentage span{
		color: green;
	}
	.quote.down{
		background: -moz-linear-gradient(left center , #652D9A 3%, #7F37B5 98%) repeat scroll 0 0 transparent;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#652D9A', endColorstr='#7F37B5'); /* for IE */
		background: -webkit-gradient(linear, left top, center bottom, from(#652D9A), to(#7F37B5)); /* for webkit browsers */	    
	    border: 1px solid #8148B1;
	}
	.quote.down .changePercentage span{
		color: red;
	}


.quote .lastTradeTime{
	/*display: none;*/
}

/* for 640px or less */
@media screen and (max-width: 700px){
	#quotesWrapper{
		width: 100%;
		margin: 0;
		padding: 20px 0 0;
	}
	.quote{
		width: 100%;
		float: none;
		margin: 0 0 0.1em;
		padding: 20px 0;
	}
	.quote *{
		padding: 0 20px 0 140px;
	}
}